<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/note.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="3"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyyMMdd HH:mm:ss} [%thread] %-5level %logger [%property{NDC}] - %message%newline-------------------------------------------------------------------------------------------%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="WARN" />
      <acceptOnMatch value="true" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!-- File Appender-->
  <appender name="ErrorFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="3"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyyMMdd HH:mm:ss} [%thread] %-5level %logger [%property{NDC}] - %message%newline--------------------------------------------------------------------------------------------%newline" />
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="Error" />
      <acceptOnMatch value="true" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!--Debug File Appender-->
  <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
    <file value="logs/Debug.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="3"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyyMMdd HH:mm:ss} [%thread] %-5level %logger [%property{NDC}] - %message%newline--------------------------------------------------------------------------------------------%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true"/>
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="DEBUG"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=dev;initial catalog=SaaSPro;integrated security=false;persist security info=True;User ID=sarb;Password=admin" />
    <commandText value="INSERT INTO Log4Net ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  <root>
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="FileAppender"/>
    <appender-ref ref="ErrorFileAppender" />
    <!-- To enable debug logging uncomment following apprender-ref -->
    <appender-ref ref="DebugFileAppender"/>
    <!--<appender-ref ref="AdoNetAppender_SqlServer"/>-->
  </root>

</log4net>