@{
    ViewBag.Title = "Check your inbox";
}
<h2>@ViewBag.Title</h2>
<p>
    We've sent a password reset email to your registered email address. Click the link in the email to reset your password.
</p>
<p>
    If the email still hasn't come through after 5 minutes or so, please check your spam folders. If all else fails, please <a href="#" target="_blank">contact support</a>.
</p>