@model string

@{
    ViewBag.Title = "Thank You!";
}

<div class="starter-template">
    <h1>Thank You!</h1>
    <p class="lead"><a href="@Model" target="_blank">@Model</a> </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum erat massa, sed elementum eros rhoncus sed. 
    Mauris enim nisi, ullamcorper nec rhoncus sed, luctus ac nisl. Curabitur bibendum ullamcorper enim, sed commodo purus 
    vulputate vitae. Duis venenatis, lorem eu mollis sodales, est est eleifend quam, quis gravida massa enim sit amet elit. 
    Vivamus lacinia placerat nisi, ac tempus lectus. Aenean ac justo sollicitudin, convallis nisi et, consectetur libero. 
    In auctor elit odio, id luctus justo dictum eget. Nullam ac risus sed mauris sollicitudin tempor id eu mi. Cras nunc eros, 
    sollicitudin in velit vel, faucibus bibendum leo. Fusce pellentesque molestie arcu in dapibus. Vestibulum eu lacus in libero 
    auctor porta eget consequat odio.
    </p>
</div>
