
@{
    ViewBag.Title = "FAQs";
}

<h2>FAQs</h2>
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Questions Number 1?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Ut vel leo rutrum, condimentum mi a, semper enim. Integer rhoncus aliquet ex eu dictum. Donec pellentesque, turpis sit amet aliquet mattis, nibh nunc malesuada arcu, a laoreet nisi metus sed mi. Morbi tortor velit, vulputate sed luctus non, laoreet ac massa. Pellentesque fermentum tellus eu enim sollicitudin luctus. Etiam euismod est et massa dictum, id ornare nunc tincidunt. Donec vestibulum orci non orci fringilla volutpat. 

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Question Number 2?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Ut vel leo rutrum, condimentum mi a, semper enim. Integer rhoncus aliquet ex eu dictum. Donec pellentesque, turpis sit amet aliquet mattis, nibh nunc malesuada arcu, a laoreet nisi metus sed mi. Morbi tortor velit, vulputate sed luctus non, laoreet ac massa. Pellentesque fermentum tellus eu enim sollicitudin luctus. Etiam euismod est et massa dictum, id ornare nunc tincidunt. Donec vestibulum orci non orci fringilla volutpat.

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Question Number 3?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Ut vel leo rutrum, condimentum mi a, semper enim. Integer rhoncus aliquet ex eu dictum. Donec pellentesque, turpis sit amet aliquet mattis, nibh nunc malesuada arcu, a laoreet nisi metus sed mi. Morbi tortor velit, vulputate sed luctus non, laoreet ac massa. Pellentesque fermentum tellus eu enim sollicitudin luctus. Etiam euismod est et massa dictum, id ornare nunc tincidunt. Donec vestibulum orci non orci fringilla volutpat.

                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>

